body {
  background-color: #474343;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* CSS */
.buttons {
  width: 100%;
  margin: 0 auto;
}
.buttons .button:first-child {
  border-radius: 300px 0 0 300px;
}
.buttons .button:last-child {
  border-radius: 0 300px 300px 0;
}
.buttons .button:only-child {
  border-radius: 300px;
}
.button {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 2px 16px 2px 16px;
  color: black;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.3s;
}
.button:hover:not(:disabled), .button:hover:not([disabled]) {
  opacity: 1;
  background-color: gray;
}
.button:disabled, .button[disabled] {
  border-color: black;
  border-style: solid;
  background-color: #222;
  color: #777;
}
.button:active {
  background-color: #2e2b2b;
}
/****** Editor ******/
.editor {
  max-height: 1px;
  max-width: 1px;
  min-height: 100%;
  min-width: 100%;
}
.myInlineDecoration {
	color: rgb(49, 212, 144) !important;
	font-weight: bold;
}

/****** Console ******/
.console {
  border: 3px groove #ccc;
  background: #012456;
  color: #ccc;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  min-height: max(20%, 8em);
  max-height: 50%;
}

.memory-view {
      font-size: 1rem;
}

.datapath-wrapper {
  flex-grow: 1.4;
  border: 2px solid black;
  overflow: auto;
  width: 100%;
  flex-basis: 50%;
}

/****** Register View ******/
.table-wrapper {
  border: 1px solid black;
  overflow-y: auto;
}

thead {
  background-color: #006591;
  color: #fff;
}
th, td {
  border: 1px solid black;
  padding: 2px 8px 2px 8px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-y: auto;
}
tr:nth-child(even)
{
  background-color: #ccc;
}

td:nth-child(2) {
  font-family: 'Iosevka', 'Droid Sans Mono', 'Consolas', monospace;
}

/* Make every column but the last fit to text. */
th:not(:last-child), td:not(:last-child) {
  white-space: nowrap;
}

/* Make the last column expand to the entire table. */
th:last-child, td:last-child {
  width: 100%;
}
