body {
  background-color: #474343;
  color: #aeaeae;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/****** Editor ******/
.editor {
  max-height: 1px;
  max-width: 1px;
  min-height: 96%;
  min-width: 100%;
}
.executedLine {
  color: rgb(0 255 149) !important;
	font-weight: bold;
  /* animation-name: flash_executed;
  animation-duration: 2s;
  animation-fill-mode: forwards; */
}
.updatedLine {
	/* color: rgb(49, 212, 144) !important; */
	font-weight: bold;
  animation-name: flash_updated;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.highlightHex {
  background-color: rgb(71 188 255 / 41%);
}

@keyframes flash_executed {
  from {
    color: transparent;
  }
  to {
    color: transparent;
  }
  to {
    color: rgb(0 255 149);
  }
}

@keyframes flash_updated {
  from {
    color: red;
  }
  to {
    color: red;
  }
  to {
    color: white;
  }
}

/****** Footer ******/

.console-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #aeaeae;
  position: relative;
  width: 100%;
}

.console-input .command {
  margin-left: 25px;
}

.console-input input {
  background: #012456;
  color: #aeaeae !important;
  margin-left: 10px;
  outline: none;
}

.console-arrow {
  height: 15px;
  width: 15px;
  fill: white;
  position: absolute;
  left: 0px;
}

/****** Tables ******/
th {
  background-color: #303030;
}
th, td {
  padding: 2px 16px 2px 16px;
  text-wrap: nowrap;
}

th:not(:last-child), td:not(:last-child) {
  border-right: 1px solid black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-y: auto;
}
tr {
  background-color: #1e1e1e;
  input {

    background-color: #1e1e1e;
  }
}
td:nth-child(2) {
  font-family: 'Iosevka', 'Droid Sans Mono', 'Consolas', monospace;
}

/* Make every column but the last fit to text. */
th:not(:last-child), td:not(:last-child) {
  white-space: nowrap;
}

/* Make the last column expand to the entire table. */
th:last-child, td:last-child {
  width: 100%;
}