body {
  background-color: #3285a8;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* CSS */

/****** Editor ******/
.editor {
  max-height: 1px;
  max-width: 1px;
  min-height: 100%;
  min-width: 100%;
}
.myInlineDecoration {
	color: rgb(49, 212, 144) !important;
	font-weight: bold;
}

/****** Console ******/
.console {
  resize: vertical;
  border: 3px groove #ccc;
  background: #012456;
  color: #ccc;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  min-height: 50%;
  flex-grow: 1;
}

.datapath-wrapper {
  flex-grow: 1.4;
  border: 2px solid black;
  overflow: auto;
  width: 100%;
  flex-basis: 50%;
}

/****** Register View ******/
.table-wrapper {
  border: 1px solid black;
  overflow-y: auto;
}

thead {
  background-color: #006591;
  color: #fff;
}
th, td {
  border: 1px solid black;
  padding: 2px 8px 2px 8px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-y: auto;
}

tr:nth-child(even)
{
  background-color: #ccc;
}

td:nth-child(2) {
  font-family: 'Iosevka', 'Droid Sans Mono', 'Consolas', monospace;
}

/* Make every column but the last fit to text. */
th:not(:last-child), td:not(:last-child) {
  white-space: nowrap;
}

/* Make the last column expand to the entire table. */
th:last-child, td:last-child {
  width: 100%;
}
