
.editor-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid gray;
}

.tabs {
    display: inline-block;
}
.tabs .tab {
    border-radius: 5px 5px 0 0;
}
.tabs .tab:only-child {
    border-radius: 300px;
}
.tab {
    overflow: hidden;
    background-color: #383838;
    padding: 2px 16px 2px 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.3s;
}
.tab:focus, .tab:hover {
    opacity: 1;
    background-color: rgb(78, 78, 78);
}
.tab:active {
    background-color: rgb(97, 97, 97);
}
.tab::after {
    background-color: #2e2b2b;
}
.tab.pressed {
    background-color: rgb(97, 97, 97);
    padding: 2px 16px 2px 16px;
    text-align: center;
    display: inline-block;
}
.bottom-tab {
    overflow: hidden;
    padding: 10px 16px 2px 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 114px;


    &.pressed {
        border-top: 5px solid #CCCCCC;
        color: white;
        font-weight: bold;
    }
}

.bottom-tab:focus,
.bottom-tab:hover,
.bottom-tab:active {
    color: rgb(244, 244, 244);
}

.emulator-options {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
    cursor: default;

    input {
        background-color: #383838;
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: right;
        width: 100px;
    }

    select {
        background-color: #47434300;
        display: flex;
        align-items: center;
        flex-direction: row;

        option {
            background-color: #38383800;
        }
    }
}