.tabs {
    width: 100%;
    margin: 0 auto;
}
.tab {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 300px;
    padding: 2px 16px 2px 16px;
    color: black;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.3s;
}
.tab:hover {
    opacity: 1;
    background-color: gray;
}
.tab:focus {
    background-color: #2e2b2b;
    color: white;
}
.tab::after {
    background-color: #2e2b2b;
}