.tabs {
    width: 100%;
    margin: 0 auto;
}
.tabs .tab:first-child {
    border-radius: 300px 0 0 300px;
}
.tabs .tab:last-child {
    border-radius: 0 300px 300px 0;
}
.tabs .tab:only-child {
    border-radius: 300px;
}
.tab {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 2px 16px 2px 16px;
    color: black;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.3s;
}
.tab:hover {
    opacity: 1;
    background-color: gray;
}
.tab:focus,
.tab:active {
    background-color: #2e2b2b !important;
    color: white !important;
}
.tab::after {
    background-color: #2e2b2b;
}