.small-datapath {
  width: 100%;
}

.big-datapath {
  width: auto;
}

/** Zoom Levels **/
.datapath.size-0 {
  width: 100%;
}
.datapath.size-10 {
  width: 110%;
}
.datapath.size-20 {
  width: 120%;
}
.datapath.size-30 {
  width: 130%;
}
.datapath.size-40 {
  width: 140%;
}
.datapath.size-50 {
  width: 150%;
}
.datapath.size-60 {
  width: 160%;
}
.datapath.size-70 {
  width: 170%;
}
.datapath.size-80 {
  width: 180%;
}
.datapath.size-90 {
  width: 190%;
}
.datapath.size-100 {
  width: 200%;
}
.datapath.size-110 {
  width: 210%;
}
.datapath.size-120 {
  width: 220%;
}
.datapath.size-130 {
  width: 230%;
}
.datapath.size-140 {
  width: 240%;
}
.datapath.size-150 {
  width: 250%;
}
.datapath.size-160 {
  width: 260%;
}
.datapath.size-170 {
  width: 270%;
}
.datapath.size-180 {
  width: 280%;
}
.datapath.size-190 {
  width: 290%;
}
.datapath.size-200 {
  width: 300%;
}

#popup {
  display: none;
  position: absolute;
  background-color: #333333;
  padding: 10px;
  max-width: 500px;
  z-index: 1000;
}

#popup .title, #popup .description, #popup .data {
  color: #FFFFFF;
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#popup .title {
  font-size: 1em;
  margin-bottom: 0.2rem;
}

#popup .description, #popup .data {
  font-size: 0.8em;
}

#popup .data {
  margin-top: 0.7rem;
}

#popup .data .label {
  font-weight: bold;
}

#popup .data .label::after {
  content: ' ';
}

#popup .data .code {
  font-family: 'Iosevka', 'Fira Code', monospace;
  overflow-wrap: anywhere;
}

#popup .data .meaning::before {
  content: ' (';
}

#popup .data .meaning::after {
  content: ')';
}
